.flexconteiner10 {
    width: 448px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexelement10 {
    width: 448px;
    background: #2e7d32;
    font-size: 20px;
    background: #2e7d32;
    font-family: roboto;
    height: 56px;
    padding-left: 24px;
    padding-top: 16px;
    color: white;
}

.flexelement11 {
    width: 200px;
    padding-left: 24px;
}

.flexelement12 {
    width: 400px;
    margin-left: 24px;
}

.flexconteiner11 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flexelement13 {
    font-size: 14px;
    font-family: roboto;
    margin-right: 8px;
    margin-top: 10px;
}

.flexelement14 {
    font-size: 14px;
    font-family: roboto;
    margin-right: 8px;
}
