.flexconteiner0 {
    background: #eeeeee;
//    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.flexconteiner {
    background: #ffffff;
  display: flex;
  width: 360px;
//  height: 300px;
  border: 5px;
  flex-direction: column;
  align-items: center;
  //margin: auto auto;
}

.flexelement1 {
  width: 312px;
//  height: 40px;
}

.flexelement2 {
  width: 312px;
//  height: 40px;
}

.flexconteiner2 {
  display: flex;
  width: 312px;
  flex-direction: row;
}

.flexelement3 {
  height: 40px;
  padding-left: 8px;
}

.flexconteiner3 {
  width: 360px;
  display: flex;
  padding: 8px;
  flex-direction: row-reverse;
}

.flexelement4 {
  font-size: 14px;
  font-family: roboto;
}

.flexconteiner4 {
  display: flex;
  flex-direction: row;
  width: 344px;
  justify-content: space-between;
}

.flexelement5 {
  font-size: 14px;
  font-family: roboto;
}

.flexelement6 {
  font-size: 14px;
  font-family: roboto;
}
