@import "~react-toolbox/lib/colors";

// Default font size
$unit: 10px;

// Color settings
$color-primary: $palette-green-500;
$color-primary-dark: $palette-green-700;
$color-accent: $palette-red-a200;
$color-accent-dark: $palette-red-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
